@import 'tailwindcss';

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --dark-header_c: #1a2ca1;
  --light-gray_c: #7f7d7e;
  --dark-gray_c: #474646;
  --gray_c: #919097;

}

.bg-dark-header_c {
  background-color: var(--dark-header_c);
}

.bg-gray_c {
  background-color: var(--gray_c);
}

.text-gray_c {
  color: var(--gray_c);
}

.bg-light-gray_c {
  background-color: var(--light-gray_c);
}

.text-light-gray_c {
  color: var(--light-gray_c);
}

.bg-dark-gray_c {
  background-color: var(--dark-gray_c);
}

.text-dark-gray_c {
  color: var(--dark-gray_c);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: #fcfcfc;
  --foreground: #171717;
}

html, body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

@utility container {
  padding-inline: 20px;
  margin-inline: auto;
  
  @variant sm {
    padding-inline: 20px;
  }
  
  @variant lg {
    padding-inline: 80px;
  }
  
  @variant xl {
    padding-inline: 120px;
  }
}